# Sentin-Edge AI .gitignore
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.vscode/
.idea/
.DS_Store

# Ignore massive raw datasets and scratch files
Dataset/
data/scratch/
MPIIGAZE/
FER-2013/
calibration_data/
*.csv
*.jsonl

# Ignore heavy PyTorch & ONNX files (We ONLY push the lightweight edge TFLite files to Github!)
models/*.pth
models/*.pt
models/*.onnx
models/*_saved_model/
